@import url('https://fonts.googleapis.com/css?family=Faustina|Montserrat&display=swap');

h1 {
	color: #2A5E8C;
	font-family: 'Faustina', sans-serif;
}
h2, h3 {
	color: #2A5E8C;
	font-family: 'Faustina', sans-serif;
}
body {
	color: #6085A6;
	background-color: #F2F2F2; 
	font-family: 'Montserrat', sans-serif;
	background-image: src="images/library.jpg"; 
}
#slogan {
  font-style: italic;
} 

#topmenu {
  font-style: bold;
} 

